:root{
    --pg-background:black;
    --pg-color:white;
    --cnt-background:rgb (33, 34, 34);
    --h3-color:greenyellow;
}
body{
    background-color: var (--pg-background);
    color: var (--pg-color);
    display: flex;
    height: 90 vh;
    align-items: center;
    justify-content: center;
}
.contener{
    background-color: var (--cnt-background);
    width: clamp (200 px, 20 %, 400 px);
    border-radius: 20 px;
    padding: 20 px;
}
.avatar{
    display: block;
    margin: 0 auto;
    width: 80 px;
    border-radius: 50 %;
}
h1,h3,p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-size: 20 px;
}
h3{
    color: var (--h3-color);
    font-size: 12 px;
}
p{
    font-size: 10 px;
    margin: 25 px;
}
button{
    width: 90 %;
    height: 40 px;
    display: block;
    margin: 0 auto;
    border-radius: 5 px;
    border: 0 px;
    font-size: 15 px;
    background-color: rgb (51, 52, 52);
    color: var (--pg-color);
}
